@model  IEnumerable<Post>

<h3>@ViewBag.PartialViewTitle</h3>
<ul class="list-group">

    @foreach (var item in Model)
    {
        <li class="list-group-item"><a href="@Url.Action("Details", "Posts", new {@id = item.Id })">@item.Title  - @Html.Action("ConvertTimePublished", "Posts", new { item.PublishedDate})</a></li>
    }
</ul>