@model  IEnumerable<Post>

<ul class="list-group">

    @foreach (var item in Model)
    {
        <li class="list-group-item"><a href="@Url.Action("Details", "Posts", new {@id = item.Id })">@item.Title</a></li>
    }
</ul>