<div class="card" style="width: 18rem;">
    <img src="~/assets/img/instagram/Image-05.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Just me, myself and I, exploring the universe of unkownment. I have a heart of love and a interest</p>
    </div>
</div>