<aside class="single_sidebar_widget author_widget">
    <img class="author_img rounded-circle" src="~/assets/img/instagram/Image-05.jpg" alt="">
    <h4>Quang Nguyen</h4>
    <p>Dumb Coder</p>
    <div class="social_icon">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
    </div>
    <p>Just me, myself and I, exploring the universe of unkownment. I have a heart of love and a interest</p>
    <div class="br"></div>
</aside>