@model IEnumerable<Post>
@{
    ViewBag.Title = ViewBag.CategoryName;
}

@Html.Action("CategoryBanner", "Categories")
<section class="blog_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    @foreach (var item in Model)
                    {
                        @Html.Partial("_PostOverview", item);
                    }
                </div>
            </div>
            @Html.Partial("_RightMenu")
        </div>
    </div>
</section>
